<div class="container">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat soluta id ratione sunt accusantium perspiciatis, necessitatibus asperiores placeat. Amet iste hic dolor perspiciatis, natus nihil laboriosam asperiores officia cupiditate quae!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla veniam repellendus harum tempore eum ullam, tempora sequi cumque dolores et, ab placeat sed excepturi ea architecto suscipit vero facilis quo.
    </p>
</div>