ul{
    top: 0;
    margin: 0;
    position: fixed;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display:inline-block;
    vertical-align:top;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.logo {
    width: 50px;
    height: 50px;
      
}
#logo{
    font-weight:800;
     
}